<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>

  <div class="container">
    <h1>Login</h1>
    <font color="orange"><%= msg %></font>
    <form method="post">
      <input type="email" placeholder="Club Owner Email" name="email" required>
      <input type="password" placeholder="Password" name="password" required>
      <button type="submit" id="btnSubmit">Login</button>

    </form>
    <h3>New User .. ?<a href="/club_register"> register here</a> </h3>
  </div>

</body>

</html>