<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get-Started</title>
</head>
<style>
    body {
        background-image: url('/bliss_images/get_started.png');
        background-size: 100% 100%;
    }

    button {
        position: relative;
        top: 650px;
        left: 550px;
        background-color: rgb(162 15 61);
        color: #fff;
        padding: 20px;
        width: 500px;
        font-size: 25px;
        border-radius: 50px;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
</style>

<body>
    <form  method="post">
        <button id="btn"> <a href="/login">Let's Get Started</a></button>
    </form>
</body>

</html>
